#hotel_map {
  height: 1000px;
  width: 100%;
  position: absolute;
}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.ctrlPanel {
  position: relative;
  display: flex;
  justify-content: flex-end;
  z-index: 1000;
  float: right;
  top: 30px;
  right: 70px;

}
 
.mat-option:hover {
  color: #7b1fa2;
}

::ng-deep{
  mat-form-field .mat-form-field-flex{
    color: accent;
    background-color: #525151 !important;
  }

}

.ol-popup {
  position: absolute;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  width: 343px;
}
.ol-popup:after,
.ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}
.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}
.ol-popup-closer:after {
  content: "✖";
}

.markers-subtitle {
  font-size: 16px;
  position: absolute;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  right: 80px;
  min-width: 150px;
}
