<div class="row">
  <div id="hotel_map" (click)="teste($event)"></div>
</div>
<div id="popup" class="ol-popup">
  <div id="popup-content"></div>
</div>

<div class="markers-subtitle">
  <ul>
    <li style="color: DodgerBlue">Ponto Inicial</li>
    <li style="color: orange">Paradas</li>
    <li style="color: red">Ponto Final</li>
  </ul>
</div>

<div class="ctrlPanel">
  <button mat-fab class="btn" (click)="hasToSelect = !hasToSelect">
    Linhas
  </button>

  <mat-form-field *ngIf="hasToSelect" appearance="fill" color="primary">
    <mat-label>Selecione uma linha de onibus</mat-label>
    <mat-select>
      <mat-option>--</mat-option>
      <mat-option
        *ngFor="let route of routes"
        (click)="getFullRoute(route)"
        value="{{ route }}"
      >
        {{ route.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
